/** @format */

* {
  padding: 0;
  margin: 0;
}
#firstsec {
  background-color: #e5e5e5;
}
#secondsection {
  background-color: #e5e5e5;
}
body {
  background: #d5d5d5;
}

// // таймер
// @import "timer.scss";
// // всплывающее окно
// @import "alert.scss";
// // виды услуг
// @import "uslugi.scss";
// // карточки вида услуг
// @import "card.scss";
// // заказы
// @import "order.scss";
// //footer
// @import "footer.scss";

// //mobile version
// @import "mobile_version.scss";
