.contact-info{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

    img{
        width: 28px;
    }
}
.container{
    h1{
        text-align: center;
    }
}
footer{
    margin-top: 5%;
}
.map{

  width: 550px;
  height: 450px;

}
.icons{

  margin-left: 15px;
}
.container{
  margin-top: 3%;
}
